<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movie Reviews</h1>
    <p>So to take a quick instance where this might be worth it, instead of transferring 25,000 points to Delta to book a roundtrip domestic economy award from New York LGA to Miami, I could go through Amex travel and pay either $219 for the ticket or use 21,879 points at a rate of 1 cent per point. Still not a high-value redemption, but a way to save a couple hundred dollars with some spare points if I had them, plus I’d still get mileage and elite credit for the flights.</p>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
      
    </div>
    
  <% end %>
</div>